.search { 
    background-color: red;
    width: 20%;
}

.results {
    background-color: aliceblue;
    border-color: red;
    border-style: solid;
}

#viewDataPageBlock {
    min-width: fit-content;
    min-height: fit-content;
    width: 50px;
    height: 25px;
    background-color: red;
}

.background
{
    background-image: url("warzone.jpg");
    width: auto;
    height: auto;
    background-size: cover;
}

.temp {
    background-color: red;
}